.login-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.login-buttons {
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.auth-buttons {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}