.orders {
  list-style: none;
  padding: 0;
  margin: 0;
}

.orders__item h1 {
    margin: 0;
    font-size: 1rem;
}

.orders__item {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin-bottom: 1rem;
}

.orders__products {
    list-style: none;
    margin: 0;
    padding: 0;
}

.orders__products-item {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #00695c;
    color: #00695c;
    align-items: center;
}

.orders__products-invoice {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #3d79c7;
  color: #3d79c7;
  background: white;
  border-radius: 3px;
  cursor: pointer;
  
}

.orders__products-invoice:hover,
.orders__products-invoice:active {
  background-color: #3d79c7;
  color: white;
}

.orders__item-title {
  display: flex;
  justify-content: space-between;
}
